footer {
    position: fixed;
    bottom: 90px;;
    left: 90px;;
  }
  div.box {
    width: 50px;
    display: inline-table;}
    
    c640 {
        display: block;
   }
   
   @media (max-width: 640px) {
   
   .c640 {
    display: none;
   }
   
   }
